.filter{


    ul{
        display: flex;
        list-style: none;
        margin: 0;

        li{
            margin-right: 10px;
            padding: 5px 8px;
            border: 1px solid $color-gray-300;
            border-radius: 30px;
            color: $color-gray-300;
            cursor: pointer;

            &.active{
                border-color: $color-green-100;
                color: $color-green-100;
                background-color: $color-green-000;
            }
        }
    }
}

.my-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}